@import 'variables';

body {
    background-color: $dark-blue;
    font-weight: bold;
}

.datatable {
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: $white-ish;
}

th, td {
    padding: 10px;
    border: 3px solid $blue;
    color: $dark-blue;
}

img{
    margin: 0;
    padding: 0;
}


