@import 'variables';

body {
    background-color: $gray;
}

.datatable {
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: $gray-blue;
}

th, td {
    padding: 10px;
    border: 1px solid #666;
}

